.home {
    position: absolute;
    margin-top: 80px;
    z-index: 2;
}

.braud-cramb {
    box-sizing: border-box;
    padding-left: 100px;
}

.header-cards {
    margin-top: 10px;
    box-sizing: border-box;
    padding: 0px 60px;
}

@media (max-width: 992px) {
    .braud-cramb {
        padding-left: 10px;
    }
}