.delivery-details {

  &--container {
    box-sizing: border-box;
    padding: 10px;
  }

  &--cash {
    box-sizing: border-box;
    padding: 5px;
  
    &--btn {
      box-sizing: border-box;
      padding: 5px;
      border: none;
      margin: 5px;
      transition: all 0.2s ease-out;

      &:hover {
        transform: translateY(3px);
      }
    }
  }

  &--scroll--cont {
    width: 100%;
    max-height: 370px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px;

    & .ps__thumb-y,
    & .ps__rail-y {
      top: 0 !important;
      height: 0 !important;
    }
  }
}

