.home {
    position: relative;
    z-index: 2;
}

.braud-cramb {
    box-sizing: border-box;
    padding-left: 60px;
}

@media (max-width: 992px) {
    .braud-cramb {
        padding-left: 10px;
    }
}