.voucher-data
{
    font-size: 14px;

}
.voucher-value{
    font-size: 20px;
}

@media (max-width: 992px) {
    .voucher-data
    {
        font-size: 20px;
    
    }
    .voucher-value{
        font-size: 30px;
    }
    

}