.mob-menu {
    position: fixed;
    overflow: hidden;
    width: 360px;
    border-radius: 0 20px 20px 0;
    box-sizing: border-box;
    padding: 5px;
    z-index: 5;
    animation: width 0.05s steps(40, end);

    &--logo {
        margin-top: 40px;
    }

    &--close {
        position: fixed;
        margin-left: 290px;
        margin-top: 20px;
    }
}

@keyframes width {
    from {
        width: 0;
    }
}

.mob-menu i:hover {
    color: #737373;
}


.mob-menu a {
    width: 100%;
    outline: none;
    margin: 5px 20px;
    text-decoration: none;
}

.mob-menu a:hover i,
.mob-menu a:hover span {
    color: #737373;
}

.mob-menu a.active i,
.mob-menu a.active span {
    color: #737373;
}

.mob-menu .ps__thumb-y,
.mob-menu .ps__rail-y {
    top: 0 !important;
    height: 0 !important;
}

.icon-description {
    margin-left: 35px;
}

@media (min-width: 993px) {
    .mob-menu {
        display: none;
    }
}