.verify-email {
    position: fixed;
    top: 0;
    box-sizing: border-box;
    padding: 3px;
    z-index: 45;

    &--link {
        transition: all .2s ease-in-out;
        position: absolute;

        &:hover {
            transform: translateY(1.5px);
        }
    }
}