.product-details {
    box-sizing: border-box;
    padding: 10px;

    &--tags {
        box-sizing: border-box;
        padding: 5px;

        &--tag {
            box-sizing: border-box;
            padding: 5px;

            &--button {
                box-sizing: border-box;
                padding: 5px;
                border: none;
                background-color: transparent;
                transition: all 0.15s ease-in-out;

                &:hover {
                    transform: translateY(2px);
                }
            }
        }
    }

    &--sizes {
        position: relative;
        box-sizing: border-box;
        padding: 5px;

        &--size {
            box-sizing: border-box;
            padding: 10px;
            min-width: 40px;
            height: 40px;
            text-align: center;
        }

        &--delete {
            box-sizing: border-box;
            padding: 3px;
            position: absolute;
            right: 3px;
            bottom: 3px;
            transition: all 0.15s ease-in-out;

            &:hover {
                transform: scale(1.5);
            }

        }
    }

    &--info {
        & .green-card {
            min-height: 150px;

            &--body {
                height: 140px;

                padding: 0 10px;
                overflow-y: auto;
                // hide the scrollbar
                scrollbar-width: none;
                // Firefox
                -ms-overflow-style: none;
                // Safari and Chrome
                &::-webkit-scrollbar {
                    display: none;
                }

                &>div {
                    height: 100%;
                }
            }
        }
    }

    &--colors {
        box-sizing: border-box;
        position: relative;
        padding: 5px;

        &--color {
            box-sizing: border-box;
            margin: 2px;
            width: 40px;
            height: 40px;
        }

        &--delete {
            box-sizing: border-box;
            padding: 3px;
            position: absolute;
            right: 3px;
            bottom: 3px;
            transition: all 0.15s ease-in-out;

            &:hover {
                transform: scale(1.5);
            }
        }
    }

    &--piece {
        margin: 10px;
        box-sizing: border-box;
        position: relative;
        padding: 10px 15px;
        min-width: fit-content;

        &--quantity {
            box-sizing: border-box;
            padding: 25px;

            &>i {
                position: absolute;
                right: 12px;
                top: 0;
            }
        }
    }

    &--scroll--cont {
        overflow: hidden;
        position: relative;
        box-sizing: border-box;
        padding: 5px;

        & .ps__thumb-x,
        & .ps__rail-x {
            left: 0 !important;
            width: 0 !important;
        }
    }

    & .review-scroll--cont {
        max-height: 370px;
        overflow: hidden;
        box-sizing: border-box;
        padding: 10px;

        & .ps__thumb-y,
        & .ps__rail-y {
            top: 0 !important;
            height: 0 !important;
        }
    }
}