.log-activity {
    position: relative;
    transition: top 0.3s ease-out;

    &.loading {
        top: -100%;
    }

    &--list-header {
        box-sizing: border-box;
        padding: 0 20px;

        &>div {
            margin: 0 5px;
        }
    }

    &--braud-cramb {
        box-sizing: border-box;
        padding-left: 60px;
    }
}

@media (max-width: 992px) {
    .log-activity {
        &--list-header {
            display: none !important;
        }

        &--braud-cramb {
            padding-left: 10px;
        }
    }

    .lists-card--info>div {
        display: flex;
        align-items: center;
        justify-content: left;
    }
}