/* font families */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&family=PT+Sans&display=swap');

/* Inter */
.inter {
    font-family: 'Inter';
}

/* PT Sans */
.pt-sans {
    font-family: 'PT Sans';
}

/* Open Sans */
.open-sans {
    font-family: 'Open Sans';
}

/* ---------------------------------------------------------------- */
/* font sizes & weights */
.font30 {
    font-size: 30px;
}

.font26 {
    font-size: 26px;
}

.font25 {
    font-size: 25px;
}

.font20 {
    font-size: 20px;
}

.font15 {
    font-size: 15px;
}

.font12 {
    font-size: 12px;
}

.weight900 {
    font-weight: 900;
}

.weight700 {
    font-weight: 700;
}

.weight600 {
    font-weight: 600;
}

/* ---------------------------------------------------------------- */
/* main colors */
.mint-green-color {
    color: #70C8B0;
}

.mint-green-bg {
    background-color: #70C8B0;
}

.yellow-color {
    color: #FEF875;
}

.grey-color {
    color: #737373;
}

.white-color {
    color: #ffffff;
}

.white-bg {
    background-color: #ffffff;
}

.beige-color {
    color: #fefefe;
}

.beige-bg {
    background-color: #fefefe;
}

.light-grey-bg {
    background-color: #dddddd;
}

.shadow {
    box-shadow: 2px 2px 8px 2px #ddd;
}

/* ---------------------------------------------------------------- */
/* sizing */
.full-width {
    width: 100%;
}

.width-max-content {
    width: max-content;
}

.full-height {
    height: 100vh;
}

.height-max-content {
    height: max-content;
}

/* ---------------------------------------------------------------- */
/* display */
.flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.inline-flex {
    display: inline-flex;
}

.none {
    display: none;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}


/* ---------------------------------------------------------------- */
/* position */
.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.fixed {
    position: fixed;
}

/* ---------------------------------------------------------------- */
/* overflow */
.hidden {
    overflow: hidden;
}

/* ---------------------------------------------------------------- */
/* cursor */
.pointer {
    cursor: pointer;
}