.nav-bar {
    justify-content: right;
    background: rgba(255, 255, 255, 0.8);
    height: 75px;
    z-index: 3;
}

.container {
    margin: 25px 0;
    height: 50px;
    background: rgba(255, 255, 255, 0.9);
}

.cella {
    margin-left: 80px;
    -webkit-transition: letter-spacing 0.75s;
    transition: letter-spacing 0.75s;
}

.cella:hover {
    letter-spacing: 3px;
    -webkit-transition: letter-spacing 0.75s;
    transition: letter-spacing 0.75s;
}

.info {
    margin-right: 20px;
    justify-content: end;
}

.Dropdown-control {
    width: 90px;
    height: 43px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    margin-right: 20px;
}

.Dropdown-control:hover {
    box-shadow: 1px 1px 2px 1px #ddd !important;
}

.Dropdown-arrow {
    margin-top: 5px;
}

.menu {
    border-radius: 8px;
    margin-top: 0 !important;
    width: 90px !important;
}

.notifications {
    width: 60px;
    height: 35px;
    border-radius: 8px;
    padding: 5px;
    margin-right: 20px;
}

.notifications i {
    margin: 4px -5px;
}

.notifications:hover {
    box-shadow: 1px 1px 2px 1px #ddd;
}

.admin {
    width: 100px;
    height: 25px;
    border-radius: 8px;
    padding: 10px;
}

.admin:hover {
    box-shadow: 1px 1px 2px 1px #ddd;
}

.admin-img {
    width: 35px;
    height: 35px;
    border-radius: 35px;
}