.full-width {
    width: 100%;
}

.full-screen-height {
    height: 100vh;
}

.width-20-100 {
    width: 20%;
}

.width-25-100 {
    width: 25%;
}

.width-30-100 {
    width: 30%;
}

.width-45-100 {
    width: 45%;
}

.width-50-100 {
    width: 50%;
}

@media (max-width: 992px) {
    .width-20-100 {
        width: 100%;
    }

    .width-25-100 {
        width: 100%;
    }

    .width-30-100 {
        width: 100%;
    }

    .width-45-100 {
        width: 100%;
    }

    .width-50-100 {
        width: 100%;
    }
}